*.xlsx
!keys_from_RAKE-GBV_DB_SB_v3.xlsx
!keys_goal_level_GBV.xlsx
!keys_update_15012020.xlsx
!goal_target_list.xlsx
!Reproducible_example_EUR-Lex.xlsx
Diego/
Query/
pdf_re/
results/
output/
*/__pycache__/
