#
*.xlsx
!postprocess/goal_target_list.xlsx
!polmap/keywords.xlsx
!polmap/keywords.xlsx
!keywords/validated_translation/*.xlsx
!keywords/mapping_keysets/*.xlsx
keywords/machine_translation/*.*
!Reproducible_example_EUR-Lex.xlsx
input/
output/
*/__pycache__/
.vscode/
