#
*.xlsx
!keywords/validated_translation/*.xlsx
!keywords/previous_keywords_archive/*.xlsx
!keywords/keywords.xlsx
!keywords/indicators.xlsx
!keywords/processed_keywords/processed_keywords.xlsx
!keywords/keywords_expanded_manually_reordered.xlsx
!keywords/goal_target_list.xlsx
keywords/machine_translation/*.*
!Reproducible_example_EUR-Lex.xlsx
input/
output/
*/__pycache__/
.vscode/
